.DS_Store
node_modules
/build/
/.svelte-kit/
/package/
/.idea/
.env
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/dev-dist/
/tmp/
yarn-error.log
/static/cached-data/
/static/local-development-env.js
/src/lib/static-urls-map.json
/src/lib/caching-config.js
